@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;
    
}
h1{
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;
    color:#75B79E;

    height: 63px;
    width: 540px;
    margin: auto;
    margin-top: 40px;
}

/* mesa */
section{
    width: 1175px;
    margin: auto;
    margin-top: 58px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* carta */
.carta {
    width: 200px;
    height: 250px;
    margin-left: 35px;
    margin-bottom: 35px;
    position: relative;
}

.carta div img{
    width: 100px;
}

.frente {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.atras {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.rotacao-atras {
    transform: rotateY(0deg);
}

.rotacao-frente {
    transform: rotateY(-180deg);
}